<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>KitchenTown</title>
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="{% static 'view_reviews.css' %}">  

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
      </script>
      <!-- Allegedly allows textbox to submit on enter -->
        <script>
        function pressed(e) {
            // Has the enter key been pressed?
            if ( (window.event ? event.keyCode : e.which) == 13) { 
                // If it has been so, manually submit the <form>
                document.forms[0].submit();
            }
        }
        </script>

    <!-- <script src="{% static 'js/view.js' %}"></script> -->
</head>

<body>  
    {% if not logged_user %}
    <nav>
        <ul>
          <li id="login">
            <a id="login-trigger" href="#">
              Log in <span>▼</span>
            </a>
            <div id="login-content">
              <form action ='login' method = 'post'>
                {% csrf_token%} 
                <fieldset id="inputs">
                  <input  id="username"
                          type="email"
                          name="email"
                          placeholder="Your email address"
                          required>
                  <input  id="password"
                          type="password"
                          name="password"
                          placeholder="Password"
                          required>
                </fieldset>
                <fieldset id="actions">
                  <input  type="submit"
                          id="submit"
                          value="Log in">
                  <label>
                    <input  type="checkbox"
                            checked="checked">
                    Keep me signed in
                  </label>
                </fieldset>
              </form>
            </div>
          </li>
          <li id="signup">
            <a href="/">Register</a>
          </li>
        </ul>
      </nav>
    {% endif %}

<div class="list-inline-item"><iframe width="760" height="480" src="https://www.youtube.com/embed/{{video_id}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="container">
	<h2 class="text-center">Reviews!</h2>
  
  {% for review in this_video.review_of_video.all %}	
  <li><em>{{review.article}} by  {{review.user.first_name}} {{review.user.last_name}}</em></li>
  
{% endfor %}
<pre>
Average Yummy: {{y}} 
Entertaining:  {{n}} 
Easy:          {{e}} 
Healthy:       {{h}}
</pre>
<form action='/success'>
<button type="submit" class="btn btn-dark">Search page</button>
</form>
</body>
</html>
